{% if field.field.widget.input_type == "checkbox" %}
    <div class="rg-field rg-field--checkbox">
        <div class="form-check">
            {{ field }}
            <div>
                <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.help_text %}
                    <div class="form-text">{{ field.help_text|safe }}</div>
                {% endif %}
            </div>
        </div>
        {% for error in field.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
    </div>
{% else %}
    <div class="rg-field">
        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
            <div class="form-text">{{ field.help_text|safe }}</div>
        {% endif %}
        {% for error in field.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
    </div>
{% endif %}
